<!DOCTYPE html>
<html>

	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
	</head>

	<body>
		<header>
			<div class="container">
				<h1 class="title">Oneserve Analytics</h1>
			</div>
			<div class="container">
				<img src="static/img/oneserve_logo_resized.png">
			</div>
			<!--
			<div>
				<a href="{{ url_for('login') }}" class="btn-primary">Log In</a>
			</div>
			-->
		</header>

		{% block content %}
		{% endblock %}

	</body>
</html>